---
const { tab, title, description, imageSrc, href, meta, bgClass = "bg-neutral-900", borderClass = "border-neutral-700", style = "" } = Astro.props;
---

<!-- top-27 = distance folder sticks from the top -->
<a 
    href={href} 
    class="block group relative sticky top-27"
    style={style}>
  <!-- Tab -->
  <div class="absolute -top-5 left-10 z-10">
    <div
      class={`px-37 py-2 text-base font-semibold
          ${bgClass} text-neutral-300
          border ${borderClass} border-b-0
          rounded-t-lg`}
    >
      {tab}
    </div>
  </div>

  <!-- Folder body -->
  <div
    class={`rounded-xl border ${borderClass}
          ${bgClass} p-10
          transition-all duration-300 ease-out
          group-hover:-translate-y-1
          will-change-transform`}
  >
    <div class="grid gap-10 sm:grid-cols-2 items-center">

      <!-- Image -->
      <div class="flex justify-center">
        <img
          src={imageSrc}
          alt={title}
          class="max-w-3xs object-contain"
        />
      </div>

      <!-- Text -->
      <div>
        <h3 class="text-3xl font-semibold">
          {title}
        </h3>

        <p class="mt-4 text-xl text-neutral-400 leading-relaxed">
          {description}
        </p>

        {meta && (
          <span class="ibm-plex-mono-regular mt-6 block text-base text-neutral-500">
            {meta}
          </span>
        )}
      </div>

    </div>
  </div>
</a>
