---
const { title, description, imageSrc, href, meta, reverse = false } = Astro.props;
---

<a
  href={href}
  class={`group flex flex-col justify-center gap-6 sm:flex-row ${
    reverse ? "sm:flex-row-reverse" : ""
  }`}
>
  <!-- Image -->
  <div class="sm:w-1/2 max-w-3xs overflow-hidden rounded-xl bg-neutral-50">
    <img
      src={imageSrc}
      alt={title}
      class="h-full w-full object-contain"
    />
  </div>

  <!-- Text -->
  <div class="sm:w-1/2 flex flex-col justify-center">
    <h3 class="text-3xl font-semibold">{title}</h3>

    <p class="mt-3 max-w-md text-xl text-neutral-400 leading-relaxed">
      {description}
    </p>

    {meta && (
      <span class="mt-4 text-base text-neutral-500">
        {meta}
      </span>
    )}
  </div>
</a>
